@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #0093e9;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: #0093e9;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #82cdf8;
        & ::placeholder {
          color: #7c7c7c;
        }
      }

      input:focus {
        outline: none;
      }

      button {
        background-color: #0093e9;
        color: #fff;
        padding: 10px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #49abe4;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: #0093e9;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 1px solid white;
    // border-radius: 10px;
    width: 100%;
    height: 100vh;
    display: flex;

    .sidebar {
      flex: 1;
      background-color: #0c7489;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #13505b;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #fff;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #fff;
            height: 34px;
            width: 34px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            padding-top: 5px;
          }

          button {
            background-color: #49abe4;
            color: #fff;
            font-size: 12px;
            border: none;
            border-radius: 5px;
            padding: 7px 10px;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid #ffffff57;

        .searchForm {
          padding: 10px;
          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;
            width: 100%;

            &::placeholder {
              color: #ffffffb9;
            }
          }
        }
      }

      .userChat {
        background-color: #13505b;
        margin: 10px;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #38a3a5;
        }

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: bolder;
          }
          p {
            font-size: 14px;
            color: #ffffff;
          }
        }
      }
    }
    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: #003049;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #d0f4de;
        padding: 10px;
        height: calc(100% - 160px);
        overflow-y: scroll;

        .message {
          display: flex;
          gap: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-size: small;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #0c7489;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: #fff;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          outline: none;
          border: none;
          color: #003049;
          font-size: 15px;

          &::placeholder {
            color: #7c7c7c;
          }
        }
        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: #0093e9;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
